* {
  margin: 0;
}
/* Homepage */
/* header start */
.header-container {
  height: 132px;
}
.content-header {
  z-index: 2;
  height: 132px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.frame-logo {
  position: absolute;
  width: 132px;
  height: 60px;
  margin: 36px 90px;
  background-image: url(../assets/logo.png);
  background-size: cover;
  background-color: gray;
}
.frame-buttons {
  float: right;
  margin: 46px 90px;
  display: flex;
}
.frame-button {
  width: 115px;
  height: 40px;
  background-color: #fff;
  margin-left: 24px;
}
.frame-button-entry {
  background-color: #ffffff;
  border: solid 1px #013b81;
  color: #013b81;
}
.frame-button-custom {
  background-color: #013b81;
  color: #fff;
}
/* header end */

/* detail start */
.content-details {
  height: 283px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.inner-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.inner-title span {
  width: 217px;
  height: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.inner-content {
  width: 800px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* detail end */
/* end */

/* informations */
/* start */
.content-informations {
  height: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

/* cards start */
.cards-group {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  /* 多的會往下掉 */
}
.card-item {
  width: 380px;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
.card-item-details-date {
  height: 20px;
  width: 130px;
  margin: 20px 22px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.6px;
  color: #01254f;
}
.card-item-details-topic {
  height: 44px;
  margin: 10px 22px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  color: #01254f;
}
.card-item-details-contents {
  height: 60px;
  margin: 2px 22px;
  overflow-y: scroll;
  font-weight: 300;
  font-size: 14px;
  line-height: 19.6px;
  color: #01254f;
}
.card-item-details-time {
  height: 20px;
  width: 128px;
  margin: 16px 22px;
  font-weight: 300;
  font-size: 14px;
  line-height: 19.6px;
  color: #01254f;
}
.card-item-details-bottom {
  width: 100%;
  height: 44px;
  margin-top: 30px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.card-item-details-bottom-registry {
  width: 101px;
  height: 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.6px;
  color: #43aa15;
  cursor: pointer;
}
.card-item-details-bottom-icon {
  width: 22px;
  height: 22px;
  margin: 50px;
}
.icon-class {
  width: 24px;
  height: 24px;
  padding: 15px;
  margin: auto;
  opacity: 0.6;
  background-color: rgb(206, 206, 206);
  border-radius: 50%;
  cursor: pointer;
}
.icon-class:hover {
  background-color: rgb(206, 206, 206);
  opacity: 0.5;
  transform: scale(1.1);
}
.no-icon-class {
  padding: 25px;
  margin: auto;
  opacity: 0.6;
  border-radius: 50%;
  cursor: pointer;
}
.icon-setting {
  color: #43aa15;
  cursor: pointer;
  transition: 0.3s;
}
.card-item-details-bottom:hover .icon-setting {
  transition-timing-function: ease;
  transform: translateX(20px);
}
/* cards end */
/* end */

/* registry */
/* start */
.content-registry {
  height: 1318px;
  display: flex;
  justify-content: center;
  position: relative;
}
.registry-area {
  width: 1180px;
  height: 748px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 14px rgba(132, 132, 132, 0.5);
}
.registry-form {
  width: 580px;
}
.registry-header {
  height: 98px;
  margin-top: 80px;
}
.registry-submit {
  height: calc(100% - 218px);
  margin-top: 40px;
}
.registry-header-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #01254f;
}
.registry-header-subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000a6;
}
.form-input {
  margin-bottom: 20px;
}
.form-input-title {
  /* width:42px; */
  height: 22px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.4px;
  color: #4a4a4a;
}
.form-title-area {
  display: flex;
}
.required-field .form-input-title::before {
  content: "*";
  color: #e60012;
  margin-right: 1px;
  font-size: 0.75rem;
}
.field-error {
  margin-top: 2px;
  margin-left: 8px;
  font-size: 1rem;
  color: #f95a67;
}
.error-input {
  border: 2px solid #f95a67;
  border-radius: 4px;
}
.form-input-field select {
  width: 100%;
  height: 52px;
  border: 1px #c6c6c6 solid;
  border-radius: 4px;
}
.form-input-field input {
  width: calc(100% - 6px);
  height: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
}
.disabled-button button {
  width: 100%;
  height: 48px;
  margin-top: 60px;
  color: #d1d1d1;
  background-color: #e9e9e9;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  border-radius: 4px;
  border: 1px #dbdbdb solid;
}
.form-input-field button {
  width: 100%;
  height: 48px;
  margin-top: 60px;
  color: #d1d1d1;
  background-color: #013b81;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  border-radius: 4px;
  border: 1px #013b81 solid;
  cursor: pointer;
}
/* end */
/* Loading start */
.loading-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.loader {
  z-index: 99;
  position: fixed;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  margin: auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid #013b81;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* loading end */
/* mask start */
.form-mask {
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.6;
}
.mask-icon {
  z-index: 1;
  position: absolute;
  left: calc(50% - 50px);
  top: 454px;
}
.material-icons[title] {
  font-size: 50px;
}
/* end */

/* RWD start*/
@media (max-width: 1306px) {
  .content-informations {
    height: 1020px;
  }
  .cards-group {
    justify-content: center;
  }
  .card-item {
    width: 340px;
  }
  .no-icon-class {
    padding: auto;
  }
}
@media (max-width: 825px) {
    .content-informations {
      height: 1020px;
    }
    .cards-group {
      justify-content: center;
    }
    .card-item {
        width: 270px;
        height: 260px;
      }
    .no-icon-class {
      padding: auto;
    }
    .card-item-details-bottom {
        height: 20px;
        margin-top: 0px;
      }
}
@media (max-width: 687px) {
  .content-informations {
    height: 1700px;
  }
  .cards-group {
    justify-content: center;
  }
  .card-item {
    width: 270px;
    height: 260px;
  }
  .no-icon-class {
    padding: auto;
  }
  .card-item-details-bottom {
    height: 20px;
    margin-top: 0px;
  }
}
/* RWD end */
